<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Character List"></Label>
</ActionBar>
<StackLayout>
    <Button [nsRouterLink]="['/character/create']" text="Create new character"></Button>
    <GridLayout tkExampleTitle tkToggleNavButton>
        <RadListView selectionBehavior="Press" (itemSelected)="onItemSelected($event)" [items]="characters$ | async" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
            <ng-template tkListItemTemplate let-item="item">
                <StackLayout orientation="vertical">
                    <ns-character-item [character]="item"></ns-character-item>
                </StackLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</StackLayout>

