<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Character List"></Label>
</ActionBar>
<StackLayout>
    <Button text="Add Test Character" (tap)="addChar()" ></Button>
    <GridLayout tkExampleTitle tkToggleNavButton>        
            <!-- <StackLayout row="0" *ngIf="curUser$ | async; let user">
                    <Label class="sidedrawer-header-brand" [text]="user.name"></Label>
                    <Label class="footnote" [text]="user.email"></Label>
                </StackLayout> -->
        <RadListView [items]="characters$ | async">
            <ng-template tkListItemTemplate let-item="item">
                <StackLayout orientation="vertical">
                    <Label [text]="item.name" class="nameLabel"></Label>
                    <Label [text]="item.uid" class="typeLabel middleLabel"></Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</StackLayout>