


<GridLayout rows="30, 30, *, 50, auto">
    <Label class="title" row="0" text="Register"></Label>
    <StackLayout row="1" *ngIf="registerError$ | async; let error">
        <Label color="red" [text]="error"></Label>
    </StackLayout>
    <RadDataForm #registerDataForm row="2" [source]="registerForm" validationMode="Manual" commitMode="Manual">
        <TKEntityProperty tkDataFormProperty name="name" displayName="Nickname" index="1" hintText="Nickname">
            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="#4b5833" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Nickname can't be empty."></TKNonEmptyValidator>
        </TKEntityProperty>
        
        <TKEntityProperty tkDataFormProperty name="email" displayName="Email" index="2" hintText="Email">
            <TKPropertyEditor tkEntityPropertyEditor type="Email">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="#4b5833" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Email can't be empty."></TKNonEmptyValidator>
            <TKEmailValidator tkEntityPropertyValidators errorMessage="Email is Invalid"></TKEmailValidator>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="password" displayName="Password" index="3" hintText="Password">
            <TKPropertyEditor tkEntityPropertyEditor type="Password">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="#4b5833" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Password can't be empty."></TKNonEmptyValidator>
            <TKMinimumLengthValidator tkEntityPropertyValidators length="6" errorMessage="Password must be at least 6 characters."></TKMinimumLengthValidator>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="verifyPass" displayName="Verify Password" index="4" hintText="Verify Password">
            <TKPropertyEditor tkEntityPropertyEditor type="Password">
                <TKPropertyEditorStyle tkPropertyEditorStyle labelTextColor="#4b5833" labelPosition="top"></TKPropertyEditorStyle>
            </TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Password can't be empty."></TKNonEmptyValidator>
            <TKMinimumLengthValidator tkEntityPropertyValidators length="6" errorMessage="Password must be at least 6 characters."></TKMinimumLengthValidator>
        </TKEntityProperty>
    </RadDataForm>
    <Button row="3" text="Register" (tap)="onRegisterTap()"></Button>
    <StackLayout row="4">
        <Label text="Need an account?" class="smaller"></Label>
        <Button [nsRouterLink]="['/auth/login']" text="Login"></Button>
    </StackLayout>
</GridLayout>
